/*
Theme colors:
#A4BFBA
#6E807C
#DBFFF8
#37403E
#C8E8E2
*/

body, html {
    height: 100%;
    margin: 0;
    font-family: "Segoe UI Symbol", sans-serif;
    background-color: #A4BFBA;
}

#banner {
    display: flex;
    align-items: center;
    height: 4rem;
    margin: 0 0 1em 0;
    color: #DBFFF8;
    background-color: #37403E;
}

#banner span {
    padding: 1em;
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;
}

#banner nav {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

#banner button {
    font-size: 1.5em;
    font-family: inherit;
    border: 0;
    padding: 0;
    font-weight: bold;
    flex-grow: 2;
    color: inherit;
    background-color: inherit;
}

#ssbButtons button{
    background-color: #37403E; /* Green */
    border: none;
    color:#DBFFF8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    margin: 0.5em;
  
    flex-direction: row;
    justify-content: center;

}

#ssbButtons button:hover{
    transition: 0.75s;
    color: #37403E;
    background-color: #C8E8E2;
}

#banner button:hover {
    transition: 0.75s;
    color: #37403E;
    background-color: #C8E8E2;
}

#contentContainer {
    display: block;
    box-shadow: 0 0 2px black;
    padding: 2em;
    color: #37403E;
    background-color: #DBFFF8;
}

footer {
    position: fixed;
    padding-left: 1em;
    bottom: 0;
    height: 3rem;
    width: 100%;
    color: #DBFFF8;
    background-color: #37403E;
}

.hiddenSection {
    display: none;
}


table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
