/* STYLE FOOR ROOT */

body, html {
    height: 100%;
    margin: 0;
    font-family: "Segoe UI Symbol", sans-serif;
    background-color: #A4BFBA;
}

/* SHARED STYLING FOR NAVIGATION AND CONTENT-CONTAINER */

#banner {
    margin-bottom: 1em;
    color: #DBFFF8;
    background-color: #37403E;
}

#banner div {
    display: flex;
    justify-content: center;
    padding: 0.25em;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(255, 143, 51);
}

#banner nav {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    #banner nav {
        flex-direction: column;
    }
}

#banner button {
    flex-grow: 1;
    padding: 0.5em 0 0.5em 0;
    font-size: 1.5em;
    font-family: inherit;
    font-weight: bold;
    border: 0;
    color: inherit;
    background-color: inherit;
}

#banner button:hover {
    transition: 0.75s;
    color: #37403E;
    background-color: #C8E8E2;
}

#contentContainer {
    display: block;
    box-shadow: 0 0 2px black;
    padding: 2em;
    margin-bottom: 2em;
    color: #37403E;
    background-color: #DBFFF8;
}

/* STYLE FOR INTRODUCTION-VIEW */

#ssbButtons button {
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: solid 2px white;
    box-shadow: 0 8px 10px 0 black;
    color: #DBFFF8;
    background-color: #37403E;
}

#ssbButtons button:hover {
    transition: 0.75s;
    color: #37403E;
    background-color: #C8E8E2;
}

/* STYLE FOR OVERVIEW-VIEW */

#overview table, td {
    margin: 0 auto;
    padding: 0.5em;
    border-bottom: 2px solid #333;
}

#overview thead, tfoot {
    background-color: #37403E;
    color: #DBFFF8;
}

/* SHARED STYLING FOR DETAILS- AND COMPARISON-VIEW */

#detailsHistory, #compareHistory {
    display: flex;
    flex-wrap: wrap;
}

.historyElement {
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: solid 2px white;
    box-shadow: 0 8px 10px 0 black;
    color: #DBFFF8;
    background-color: #37403E;
}

.historyElement .histYear, .compareYear {
    margin-top: 0;
    color: rgb(255, 143, 51);
}

.historyElement label {
    font-weight: bold;
    color: rgb(255, 175, 110);
}

.historyElement p {
    font-size: 15px;
    color: rgb(255, 219, 190);
}

.historyElement p, ul {
    margin: 0.25em 0 0.25em 0;
}

/* SHARED STYLE FOR FOOTER*/

footer {
    position: fixed;
    padding-left: 1em;
    bottom: 0;
    height: 3rem;
    width: 100%;
    color: #DBFFF8;
    background-color: #37403E;
}

/* STYLES FOR DYNAMIC-ONLY ELEMENTS BELOW */

.hiddenSection {
    display: none;
}

.redBoldText {
    color: rgb(206, 63, 63);
    font-weight: bold;
}

.blueBoldText {
    color: rgb(0, 102, 255);
    font-weight: bold;
}

.greenBoldText {
    color: rgba(3, 146, 34, 0.911);
    font-weight: bold;
}

.errorMessage {
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    color: red;
}